.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.main {
  flex: 1;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  color: #e0e0e0;
  box-sizing: border-box;
}
