.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin: 1.5rem;
  padding: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.groupControl {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
