.footer {
  margin-top: auto;
  padding: 2rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background-color: #121212;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 640px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
  }
}

.text {
  font-size: 0.9rem;
  color: #666;
}

.name {
  color: #efefef;
  font-weight: 600;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.socialLink {
  display: flex;
  transition: all 0.3s ease;
  filter: grayscale(1) opacity(0.6);

  img {
    width: 24px;
    height: 24px;
  }
}

.socialLink:hover {
  filter: grayscale(0) opacity(1);
  transform: translateY(-3px);
}
