@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
}
